<h1>Admin App</h1>

<div class="container">
  <a class="nav-link" [routerLink]="['/managecompany']"><button class="btn btn-primary">Manage Company</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/stockexchange']"><button class="btn btn-primary">Manage StockExchange</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/managecompany']"><button class="btn btn-primary">Import Data</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/adminlogin']"><button class="btn btn-primary">Log Out</button></a>
</div>
<!-- <div>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container">
          <a class="navbar-brand" [routerLink]="['']">StockMarket</a>
          <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/managecompany']">Manage Company</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/stockexchange']">Manage StockExchange</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/managecompany']">Import Data</a></li>
          </ul>
      </div>
    </nav>
  </div> -->