<div>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">StockMarket</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Login</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/managecompany']">Manage Company</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Manage StockExchange</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Import Data</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Compare Company</a></li>
        </ul>
    </div>
  </nav>
</div>
<br><br><br>
<div>
  <router-outlet></router-outlet>
</div>