<h1>User App</h1>

<div class="container">
  <a class="nav-link" [routerLink]="['/userviewcompany']"><button class="btn btn-primary">View Company</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/barchart']"><button class="btn btn-primary">Bar Chart</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/userviewcompany']"><button class="btn btn-primary">Export Data</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="nav-link" [routerLink]="['/userlogin']"><button class="btn btn-primary">Log Out</button></a>
</div>